
  @keyframes spin {
    0% {
      transform: rotate(0deg) translate(-50%);
   }
    100% {
      transform: rotate(360deg) translate(-50%);
   }
 }
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    animation: spin 0.35s infinite linear;
    border: 2px solid #707070;
    border-radius: 50%;
    border-top-color: white;
    height: 25px;
    transform-origin: left;
    top: 45%;
    
    width: 25px;
 }
  .hidden-input {
    display: none;
 }
  .profile {
    
    background-color: white;
    border-radius: 10px;
    display: block;
    float: none;
    
    overflow: hidden;
    padding-bottom: 20px;
    width: 100%;
 }
  .profile:before, .profile:after {
    content: "";
    display: table;
 }
  .profile:after {
    clear: both;
 }
  .about {
    font-family: Helvetica, "Helvetica Neue", "Tahoma";
    font-size: 12px;
    color: #adadad;
    line-height: 17px;
 }
  .image-wrapper {
    background: rgba(0,0,0,0.2);
    bottom: -50px;
    height: 50px;
    left: 0;
    margin-top: 10px;
    padding: auto;
    align-items: center;
    margin-right: 1;
    position: absolute;
    border-radius: 10px;
    transition: bottom 0.15s linear;
    width: 100%;
 }
  .edit {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    cursor: pointer;
    font-size: 22px;
    margin: auto;
   
 }
  .cover {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
 }
  .cover img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
 }
  .cover .image-wrapper {
    bottom: auto;
    height: 45px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
 }
  .name {
    font-family: Helvetica, "Helvetica Neue", "Tahoma";
    font-size: 18px;
 }
  .profile-pic {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 4px solid white;
    height: 210px;
    overflow: hidden;
    transform: translateX(-50%) translateY(-50%);
    width: 210px;
    top: 0;
 }
  .profile-pic img {
    box-sizing: border-box;
    height: 100%;
    left: 50%;
    max-height: 100%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.15s ease-out;
    width: auto;
 }
  .profile-pic:hover .image-wrapper {
    bottom: 0;
 }
  .username {
    margin-top: 122px;
    text-align: center;
 }
  .user-info {
    *zoom: 1;
    padding: 8px;
    position: relative;
 }
  .user-info:before, .user-info:after {
    content: "";
    display: table;
 }
  .user-info:after {
    clear: both;
 }
  body {
    background-color: #202020;
 }
  .container {
    
    margin-top: 10px;
 }
  .layer {
    background-color: rgba(0,0,0,0.25);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
 }
  .layer.visible {
    display: block;
 }

 .progress-container {
  margin-top: 1rem;
  padding: 0px 70px;
}
.progress-decoration {
  position: relative;
  height: 16vh;
}
.progress-decoration svg {
  position: absolute;
  fill: rgba(237, 30, 40, 0.2);
}
.progress-decoration .icon-cloud {
  fill: rgba(145, 179, 250, 0.4);
}
.progress-decoration #cloud-one {
  right: 6vw;
  top: -12vh;
}
.progress-decoration #cloud-two {
  right: 32vw;
  top: -8vh;
}
.progress-decoration #cloud-three {
  right: 72vw;
  top: -12vh;
}
.progress-decoration #tree-one {
  bottom: 0;
  right: 80vw;
}
.progress-decoration #tree-two {
  bottom: 0;
  right: 20vw;
}
.progress-decoration #lamp-one {
  bottom: 0;
  right: 54vw;
}
.progress-decoration #lamp-two {
  bottom: 0;
  right: 0;
}
.progress-bar {
  background-color: #fff;
  border: 3px #f4f4f4 solid;
  border-radius: 20px;
  position: relative;
  margin: 4px 0 16px 0;
  height: 30px;
  width: 100%;
}
.progress-bar .completed-bar {
  background: linear-gradient(to left, #ed1e28, #fe6d62);
  border-radius: 20px;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 2s ease 0.4s;
  padding: 0 8px;
}
.progress-bar .completed-bar__dashed {
  width: 96%;
  border: 2px dashed #fff;
}
.progress-bar .completed-bar__truck {
  font-size: 1.5rem;
  margin-left: 4px;
}
.progress-information {
  display: none;
  justify-content: space-between;
  padding: 0 4px;
}
.icon-cloud {
  height: 50px;
  width: 50px;
}
.icon-lamp {
  height: 70px;
  width: 60px;
}
.icon-tree--one {
  height: 60px;
  width: 60px;
}
.icon-tree--two {
  height: 70px;
  width: 60px;
}
p {
  font-family: "Poppins", "Helvetica", "sans-serif";
  letter-spacing: 1px;
  line-height: 1.5;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1rem;
  color: rgba(48, 48, 48, 0.6);
}
@media only screen and (max-width: 576px) {
  .progress-container {
    padding: 0px 16px;
 }
  .progress-decoration {
    display: none;
 }
  .progress-information {
    display: flex;
 }
  .progress-bar {
    margin-bottom: 4px;
 }
  .progress-bar .completed-bar__dashed {
    width: 96%;
    border: 1px dashed #fff;
 }
  .progress-bar .completed-bar__truck {
    font-size: 1rem;
    margin-left: 0;
 }
}

.bg-gradient-dark {
  background-image: linear-gradient(310deg, #141727 0%, #3A416F 100%);
} 

.button {
  border-radius: 10px;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 1em;
}
.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.badge {
  display: inline-block;
  padding: 0.55em 0.9em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45rem;
  margin: 5px;
}

.bg-gradient-secondary {
  background-image: linear-gradient(310deg, #627594 0%, #A8B8D8 100%);
}

.bg-gradient-success {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}